<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>

      <!-- Toolbar -->
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="Nouveau"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>

            <button
              pButton
              pRipple
              label="Supprimer"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedStatuts()"
              [disabled]="!selectedStatuts || !selectedStatuts.length"
            ></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
        </ng-template>

      </p-toolbar>

      <!-- Table -->
      <p-table
        #dt
        [value]="statuts"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Affichage {first} à {last} sur {totalRecords} enregistrements"
        [(selection)]="selectedStatuts"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Gestion des Statuts</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Rechercher..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="libelle">
              Libellé <p-sortIcon field="libelle"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-statut>
          <tr>
            <td>
              <p-tableCheckbox [value]="statut"></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">Libellé</span>
              {{ statut.libelle }}
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editStatut(statut)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteStatut(statut)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Dialog Formulaire -->
    <p-dialog
      [(visible)]="statutDialog"
      [style]="{ width: '450px' }"
      header="Détails Statut"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="libelle">Libellé</label>
          <input
            type="text"
            pInputText
            id="libelle"
            [(ngModel)]="statut.libelle"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !statut.libelle
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !statut.libelle"
            >Le libellé est obligatoire.</small
          >
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Annuler"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Enregistrer"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveStatut()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Confirm Suppression -->
    <p-dialog
      [(visible)]="deleteStatutDialog"
      header="Confirmation"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="statut"
          >Êtes-vous sûr de vouloir supprimer
          <b>{{ statut.libelle }}</b> ?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="Non"
          (click)="deleteStatutDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Oui"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Confirm Suppression Multiple -->
    <p-dialog
      [(visible)]="deleteStatutsDialog"
      header="Confirmation"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Êtes-vous sûr de vouloir supprimer les statuts sélectionnés ?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="Non"
          (click)="deleteStatutsDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Oui"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
